parameters:
	level: 0
	ignoreErrors: 
		- "#RestClient#"
		- "#ClientPrestashopApi#"
		- "#[Class|class|type] Wyomind#"
		- "#[Class|type] MageArray#"
		- "#[Class|class|type] Webkul#"
		- "#[Class|class|type] Magestore#"
